{% extends "layout.html" %}

{% block body %}

<h2>Basic vocabulary</h2>

<h3>The numbers</h3>

<table>
    <tr>
        <td>1. Un</td>
        <td>2. Deux</td>
        <td>3. Trois</td>
        <td>4. Quatre</td>
        <td>5. Cinq</td>
    </tr>
    <tr>
        <td>6. Six</td>
        <td>7. Sept</td>
        <td>8. Huit</td>
        <td>9. Neuf</td>
        <td>10. Dix</td>
    </tr>
    <tr>
        <td>11. Onze</td>
        <td>12. Douze</td>
        <td>13. Treize</td>
        <td>14. Quatorze</td>
        <td>15. Quinze</td>
    </tr>
    <tr>
        <td>16. Seize</td>
        <td>17. Dix-sept</td>
        <td>18. Dix-huit</td>
        <td>19. Dix-neuf</td>
        <td>20. Vingt</td>
    </tr>
</table>

<h3>The days</h3>

<table>
    <tr>
        <td>Lundi</td>
        <td>Mardi</td>
        <td>Mercredi</td>
        <td>Jeudi</td>
    </tr>
    <tr>
        <td>Vendredi</td>
        <td>Samedi</td>
        <td>Dimanche</td>
    </tr>
</table>

<h3>The months</h3>

<table>
    <tr>
        <td>Janvier</td>
        <td>F&eacute;vrier</td>
        <td>Mars</td>
        <td>Avril</td>
        <td>Mai</td>
        <td>Juin</td>
    </tr>
    <tr>
        <td>Juillet</td>
        <td>Ao&ucirc;t</td>
        <td>Septembre</td>
        <td>Octobre</td>
        <td>Novembre</td>
        <td>D&eacute;cembre</td>
    </tr>
</table>

<h3>The colours</h3>

<table>
    <tr>
        <td style="background: red; color: white;">Rouge</td>
        <td style="background: blue; color: white;">Bleu</td>
        <td style="background: green; color: white;">Vert</td>
        <td style="background: white;">Blanc</td>
        <td style="background: black; color: white;">Noir</td>
    </tr>
    <tr>
        <td style="background: pink;">Rose</td>
        <td style="background: purple; color: white;">Violet</td>
        <td style="background: gray;">Gris</td>
        <td style="background: yellow">Jaune</td>
        <td style="background: brown; color: white;">Marron</td>
    </tr>
</table>

{% endblock %}