{% extends "layout.html" %}

{% block body %}

<h2>How to build a sentence</h2>

<p>First, you need to know the different subjects available:</p>
<table>
    <tr>
        <td>Je</td>
        <td>I</td>
    </tr>
    <tr>
        <td>Tu</td>
        <td>You</td>
    </tr>
    <tr>
        <td>Il/Elle/On</td>
        <td>He/She/It</td>
    </tr>
    <tr>
        <td>Nous</td>
        <td>We</td>
    </tr>
    <tr>
        <td>Vous</td>
        <td>You</td>
    </tr>
    <tr>
        <td>Ils/Elles</td>
        <td>They</td>
    </tr>
</table>

<p>As you can see, there is a few differences between English and French.</p>

<p>The French language has 2 levels of politeness when it's about speaking to somebody. So the English "you" has 2 equivalents in French: "tu" (informal) and "vous" (formal). You have to know when to use one or the other one but it's a bit complicated: <a href="{{ url_form('static', filename='tu-vous.jpg') }}">this graph could help...</a></p>

<p>The other thing to note is the <strong>non equivalence</strong> between the English "it" and the French "on". Indeed, in French, "on" means "we" in an informal situation. It also can be used to speak generally (general truth) or instead of "someone" (you don't know who) or "people" (in general):</p>

<table>
    <tr>
        <th>"We" in an informal situation</th>
        <th>Instead of "someone"</th>
        <th>Instead of "people"</th>
        <th>General truth</th>
    </tr>
    <tr>
        <td>In general, oral French use mainly "on" instead of "nous". However, you shall always use "nous" in written formal French.<br />
        <span class="eg">e.g. On est all&eacute;s au cin&eacute;ma hier soir. = Nous sommes all&eacute;s au cin&eacute;ma hier soir.</span> </td>
        <td>You don't know who<br /><span class="eg">e.g. On sonne &agrave; la porte. = Quelqu'un sonne &agrave; la porte.</span></td>
        <td>
            <span class="eg">e.g. En France, on aime le fromage. = En France, les gens aiment le fromage.</span>
        </td>
        <td>
            Mostly used in proverbs<br />
            <span class="eg">e.g. Avec des si, on mettrait Paris en bouteille</span>
        </td>
    </tr>
</table>

<p>Another big differences is about the gender of the words: in French, all the words are either masculine or feminine, so the neutral pronoun "it" refering to non-living things is not relevant. Yes, a book is "he" (il)!</p>

<table>
    <tr>
        <th>Person</th>
        <th>Animal</th>
        <th>Thing, object</th>
    </tr>
    <tr>
        <td><span class="eg">e.g. Steven aime les brocolis. = <strong>Il</strong> aime les brocolis.</span> </td>
        <td><span class="eg">e.g. Un chien traverse la route. = <strong>Il</strong> traverse la route.<br />
            La tortue mange de la salade. = <strong>Elle</strong> mange de la salade.</span></td>
        <td><span class="eg">e.g. Le livre est sur l'&eacute;,tag&egrave;re. = <strong>Il</strong> est sur l'&eacute;,tag&egrave;re</span></td>
    </tr>
</table>

<h3>Affirmative sentence</h3>

<p>To build an affirmative sentence in French, you need to determine the subject and the verb.</p>

<div class="explain">
    <strong style="color:red;">Subject</strong> + <strong style="color:blue;">Verb</strong> + complement(s)<br />
    <span class="eg">e.g. <strong style="color:red;">Steven</strong> <strong style="color:blue;">aime</strong> les brocolis.</span>
</div>

{% endblock %}