{% extends "layout.html" %}

{% block body %}

<h2>How to build a sentence</h2>

<p>First, you need to know the different pronouns available:</p>
<table>
    <tr>
        <th class="text-right">French</th>
        <th>English</th>
    </tr>
    <tr>
        <td class="text-right">
            Je<br />
            Tu<br />
            Il/Elle - On<br />
            Nous<br />
            Vous<br />
            Ils/Elles
        </td>
        <td>
            I<br />
            You<br />
            He/She - It<br />
            We<br />
            You<br />
            They
        </td>
    </tr>
</table>

<p>As you can see, there is a few differences between English and French.</p>

<h3>Politeness tu/vous</h3>
<p>The French language has 2 levels of politeness when it's about speaking to somebody. So the English <strong>you</strong> has 2 equivalents in French: <strong>tu</strong> (informal) and <strong>vous</strong> (formal). You have to know when to use one or the other one but it's a bit complicated: <a href="{{ url_for('static', filename='tu-vous.jpg') }}">this graph could help</a>...</p>

<p><strong>Vous</strong> also means the plural form of <strong>tu</strong>, when the subject is a group of person.</p>

<h3>On &ne; it</h3>

<p>The other thing to note is the <strong>non equivalence</strong> between the English <strong>it</strong> and the French <strong>on</strong>. Indeed, in French, <strong>on</strong> means <strong>we</strong> in an informal situation. It also can be used to speak generally (general truth) or instead of "someone" (you don't know who) or "people" (in general):</p>

<table>
    <tr>
        <th width="50%">"We" in an informal situation</th>
        <th>Instead of "someone"</th>
    </tr>
    <tr>
        <td>In general, oral French use mainly <strong>on</strong> instead of <strong>nous</strong>. However, you shall always use <strong>nous</strong> in written formal French.<br />
        <span class="eg">e.g. <strong>On</strong> est all&eacute;s au cin&eacute;ma hier soir. = <strong>Nous</strong> sommes all&eacute;s au cin&eacute;ma hier soir.</span></td>
        <td>You don't know who<br /><span class="eg">e.g. <strong>On</strong>
        sonne &agrave; la porte. = <strong>Quelqu'un</strong> sonne &agrave; la porte.</span></td>
    </tr>
    <tr>
        <th>Instead of "people"</th>
        <th>General truth</th>
    </tr>
    <tr>
        <td>
            <span class="eg">e.g. En France, <strong>on</strong> aime le fromage. = En France, <strong>les gens</strong> aiment le fromage.</span>
        </td>
        <td>
            Mostly used in proverbs<br />
            <span class="eg">e.g. Avec des si, <strong>on</strong> mettrait Paris en bouteille</span>
        </td>
    </tr>
</table>

<h3>Masculine or feminine gender</h3>

<p>Another big difference is about the gender of the words: in French, <strong>all the words are either masculine or feminine</strong>, so the neutral pronoun "it" refering to non-living things is not relevant.</p>

<table>
    <tr>
        <th width="33%">Person</th>
        <th width="33%">Animal</th>
        <th>Thing, object</th>
    </tr>
    <tr>
        <td>Steven (masculine)<br /><span class="eg">e.g. <strong>Il</strong> aime les brocolis.</span></td>
        <td>La tortue (feminine)<br /><span class="eg">e.g. <strong>Elle</strong> mange de la salade.</span></td>
        <td>Le livre (masculine)<br /><span class="eg">e.g. <strong>Il</strong> est sur l'&eacute;tag&egrave;re</span></td>
    </tr>
</table>

<h3>Affirmative sentence</h3>

<p>To build an affirmative sentence in French, you need to determine the subject and the verb.</p>

<div class="explain">
    <strong style="color:red;">Subject</strong> + <strong style="color:blue;">Verb</strong> + complement(s)<br />
    <span class="eg">e.g. <strong style="color:red;">Steven</strong> <strong style="color:blue;">aime</strong> les brocolis.</span>
</div>

<h3>Negative sentence</h3>

<p>Basically, you have to add <strong>ne pas</strong> to the affirmative form.</p>

<div class="explain">
    <span style="color:red;">Subject</span> + <strong>ne</strong> + <span style="color:blue;">Verb</span> + <strong>pas</strong> + complement(s)<br />
    <span class="eg">e.g. <span style="color:red;">Steven</span>
    <strong>n'</strong><span style="color:blue;">aime</span>
    <strong>pas</strong> les brocolis.</span>
</div>

<p>When the verb starts by a vowel, write <strong>n'</strong> instead of <strong>ne</strong> to make a good liaison.</p>

<h3>Question</h3>

<p>To build a question sentence in French, take the affirmative form and switch the subject and the verb.</p>

<div class="explain">
    <strong style="color:blue;">Verb</strong> + <strong style="color:red;">Subject</strong> + complement(s)<br />
    <span class="eg">e.g. <strong style="color:blue;">Aimes</strong>-<strong style="color:red;">tu</strong> les brocolis ?</span><br /><br />
    <strong style="color:red;">Subject</strong> + <strong style="color:blue;">Verb</strong> + <strong style="color:red;">Pronoun</strong> + complement(s)<br />
    <span class="eg">e.g. <strong style="color:red;">Steven</strong> <strong style="color:blue;">aime</strong>-t-<strong style="color:red;">il</strong> les brocolis ?</span>
</div>

<p>A more natural way to ask a question is to use <strong>Est-ce que ... ?</strong></p>

<div class="explain">
    <strong>Est-ce que</strong> + affirmative form<br />
    <span class="eg">e.g. <strong>Est-ce que </strong> Steven aime les brocolis ?</span>
</div>

<h4>Interrogative pronouns</h4>

<table>
    <tr>
        <th class="text-right">French</th>
        <th>English</th>
    </tr>
    <tr>
        <td class="text-right">
            Qui<br />
            Quoi<br />
            O&ugrave;<br />
            &Agrave; qui<br />
            Pourquoi<br />
            Quand<br />
            Lequel
        </td>
        <td>
            Who<br />
            What<br />
            Where<br />
            Whose<br />
            Why<br />
            When<br />
            Which
        </td>
    </tr>
</table>

<div class="explain">
    <strong>Interrogative pronoun</strong> + verb + subject + ...<br />
    <span class="eg">e.g. <strong>Qui </strong> aime les brocolis ? / <strong>Qui</strong> es-tu ?</span><br />
    <span class="eg">e.g. <strong>O&ugrave; </strong> est mon chien ?</span><br />
    <span class="eg">e.g. <strong>Quand </strong> pars-tu ?</span>
</div>

{% endblock %}
