<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Learn French with Carine</title>

    <!-- IMPORT CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- IMPORT JAVASCRIPT -->
    <script type="text/javascript"
    src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    <script type="text/javascript">
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        })
        function playSound(sound) {
          var thesound = document.getElementById(sound);
          thesound.play();
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand text-hide" href="{{ url_for('home') }}">Learn French with Carine</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('home') }}">Home</a></li>
            </ul>

            <p class="navbar-text navbar-right">
                {% if not session.logged_in %}
                    <a href="{{ url_for('login') }}">log in</a> -
                    <a href="{{ url_for('register') }}">register</a>
                {% else %}
                    <a href="{{ url_for('profile') }}">Profile</a> (<a href="{{ url_for('logout') }}">log out</a>)
                {% endif %}
            </p>
        </div>
    </nav>
    <div id="page">

    <div id="left-side">
        <h1 class="text-hide">Learn French with Carine</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="#">Basics</a>
                    <ul>
                        <li><a href="{{ url_for('rules') }}">Rules for pronunciation</a></li>
                        <li><a href="{{ url_for('basic_voc') }}">Basic vocabulary</a></li>
                        <li><a href="{{ url_for('build_sentence') }}">How to build a sentence</a></li>
                        <li><a href="{{ url_for('quiz_beginners') }}">Quiz for beginners</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('home') }}">Vocabulary</a></li>
                <li><a href="{{ url_for('home') }}">Culture</a></li>
                <li><a href="{{ url_for('home') }}">Quiz</a></li>
                <li><a href="{{ url_for('home') }}">Games</a></li>
            </ul>
        </nav>
    </div>
    <div id="right-side">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    </div>
</body>
</html>
