{% extends "layout.html" %}

{% block body %}

<h2>Manage the quizzes</h2>

{% if quiz %}
    <ul>
    {% for q in quiz %}
        <li><a href="{{ url_for('show_questions', id=q.id) }}">{{ q.title }}</a> - {{ q.level }}
            <a href="{{ url_for('edit_quiz', id=q.id) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
            <a href="{{ url_for('remove_quiz', id=q.id) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p class="alert alert-info">No quiz so far. <a href="{{ url_for('add_quiz') }}">Would you like to create one?</a></p>
{% endif %}

{% endblock %}
