{% extends "layout.html" %}

{% block body %}

<h2>Register</h2>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        {% for e in error %}
            <p class="error">{{ e }}</p>
        {% endfor %}
        </div>
    {% endif %}

    <form action="{{ url_for('register') }}" method="post" class="col-lg-6">
        <div class="form-group">
            <label for="username">Choose your username*</label>
            <input class="form-control" type="text" name="username" id="username" required />
        </div>
        <div class="form-group">
            <label for="password">Choose your password*</label>
            <input class="form-control" type="password" name="password" id="password" required />
        </div>
        <div class="form-group">
            <label for="password2">Write your password again*</label>
            <input class="form-control" type="password" name="password2" id="password2" required />
        </div>
        <div class="form-group">
            <label for="email">Write your email address here*</label>
            <input class="form-control" type="email" name="email" id="email" required />
        </div>
        <input type="submit" class="btn btn-default" value="Register" />
    </form>

{% endblock %}
