{% extends "layout.html" %}

{% block body %}

<h2>Rules for pronounciation</h2>

<h3>The alphabet</h3>

<p>The French alphabet, like in English, has 26 letters.</p>
<p>To know how to pronounce French words, you have to master the pronounciation
of each letter of the alphabet. Let's begin!</p>

<table>
  <tr>
    <td>A <span class="glyphicon glyphicon-volume-up"
    aria-hidden="true"></span> </td>
    <td>B</td>
    <td>C</td>
    <td>D</td>
    <td>E</td>
    <td>F</td>
    <td>G</td>
  </tr>
  <tr>
    <td>H</td>
    <td>I</td>
    <td>J</td>
    <td>K</td>
    <td>L</td>
    <td>M</td>
    <td>N</td>
  </tr>
  <tr>
    <td>O</td>
    <td>P</td>
    <td>Q</td>
    <td>R</td>
    <td>S</td>
    <td>T</td>
    <td>U</td>
  </tr>
  <tr>
    <td>V</td>
    <td>W</td>
    <td>X</td>
    <td>Y</td>
    <td>Z</td>
  </tr>
</table>

<h4>Accents and cedilla</h4>

<p>The French alphabet differs from English because there can be accents on
certain letters or a mark like the cedilla.They are used to change the
pronounciation or the meaning of the words.</p>

<h5>Accents on the letter E</h5>

<p>There are four accents: acute (<strong>&eacute;</strong>), grave (<strong>&egrave;</strong>), circumflex (<strong>&ecirc;</strong>) and
trema (<strong>&euml;</strong>). They indicate different sounds:</p>

<table>
  <tr>
    <td>&eacute;<br /><span class="eg">e.g. cin<strong>&eacute;</strong>ma</span></td>
    <td>&egrave;, &ecirc;, &euml;<br /><span class="eg">e.g.
    cr<strong>&egrave;</strong>me, f<strong>&ecirc;</strong>te,
    No<strong>&euml;</strong>l</span></td>
  </tr>
</table>

<h5>Accents on the letters A, U, O</h5>

<p>Accents on these letters can be used in writing to differentiate meaning,
even when the pronunciation is the same:</p>

<table>
  <tr>
    <td>a / &agrave;, la / l&agrave;<br />Voil&agrave;</td>
    <td>ou / o&ugrave;, sur / s&ucirc;r<br />Ao&ucirc;t,
    ambig&uuml;</td>
    <td>&Ocirc; capitaine, mon capitaine !
    (Dead Poets Society), &ocirc;ter</td>
  </tr>
</table>

<h5>Cedilla</h5>

<p>The cedilla, <strong>&ccedil;</strong>, is used before a, o, u and sounds the same as the
letter <strong>S</strong>.</p>

<table>
  <tr>
    <td>fran<strong>&ccedil;</strong>ais</td>
    <td>le<strong>&ccedil;</strong>on</td>
    <td>re<strong>&ccedil;</strong>u</td>
  </tr>
</table>

<h3>Other sounds</h3>

<p>The French language has many other sounds that you have to know for the
correct pronounciation.</p>

<h4>Vowels</h4>

<p>There are 6 vowels in French: a, e, i, o, u, y.</p>
<p>These vowels can be combined to create specifics sounds:</p>

<table>
  <tr>
    <td>au, eau<br /><span class="eg">e.g. <strong>au</strong>tre,
    ch&acirc;t<strong>eau</strong></span></td>
    <td>ou<br /><span class="eg">e.g. r<strong>ou</strong>ge</span></td>
    <td>ai<br /><span class="eg">e.g. <strong>ai</strong>mer</span></td>
    <td>oi<br /><span class="eg">e.g. cr<strong>oi</strong>ssant</span></td>
    <td>eu, oe, oeu<br /><span class="eg">e.g. bl<strong>eu</strong>,
    <strong>oe</strong>nologie, c<strong>oeu</strong>r</span></td>
  </tr>
</table>

<h4>Nasal sounds</h4>

<p>There is no equivalent in English for these sounds, so you have to try
pronounce them in the right way and learn them by heart.</p>

<table>
  <tr>
    <td>un<br /><span class="eg">e.g. <strong>un</strong></td>
    <td>on<br /><span class="eg">e.g. b<strong>on</strong></td>
    <td>in, ain, ein<br /><span class="eg">e.g. v<strong>in</strong>,
    p<strong>ain</strong>, r<strong>ein</strong></span></td>
    <td>an, en, em-<br /><span class="eg">e.g bl<strong>an</strong>c,
    v<strong>en</strong>t, <strong>em</strong>ploi/<strong>em</strong>mener</span></td>
  </tr>
</table>

<p>Be careful when you see these combinations in a word, because it could be a
different pronounciation, depending on the place inside the word and which
letter(s) there is (are) after.</p>
<p>If you listen to the following words, they differ on the pronounciation, mainly because
there is a vowel directly after the nasal sound. So you have to split the word
into different syllables.</p>

<p>For example:</p>

<table>
  <tr>
    <td><strong>un</strong>e<br />u-ne</td>
    <td>b<strong>on</strong>ne<br />bo-nne</td>
    <td>far<strong>in</strong>e, v<strong>ain</strong>e,<br />fa-ri-ne, vai-ne</td>
    <td>c<strong>an</strong>ne<br /> ca-nne</td>
  </tr>
</table>

<p>The nasal sounds <strong>en</strong> and <strong>ein</strong> are specifics
as you can't split the word into several syllables but it
becomes a different sound. Basically, it's like you pronounce the letter
<strong>N</strong>.</p>
<p>This sound is also shared by many different spellings:</p>

<table>
  <tr>
    <td>r<strong>en</strong>ne, <strong>en</strong>nemi,
    t<strong>en</strong>nis...</td>
    <td>peine, reine, veine...</td>
    <td>saine, vaine...</td>
    <td>r&ecirc;ne, p&ecirc;ne...</td>
    <td>C&egrave;ne</td>
  </tr>
</table>

<h4>Consonants</h4>

<p>The French <strong>R</strong> sound is probably the hardest for English people. It
comes from the throat.</p>

<table>
  <tr>
    <td>ad<strong>r</strong>esse</td>
    <td>do<strong>r</strong>mi<strong>r</strong></td>
    <td><strong>r</strong>on<strong>r</strong>onner</td>
  </tr>
</table>

<p>A specific sound can be created with a combination of (vowel) + IL
(+LE).</p>

<table>
  <tr>
      <td>-eille/-eil<br /><span class="eg">e.g.
      bout<strong>eille</strong>/&eacute;v<strong>eil</strong></span></td>
      <td>-ouille/-ouil<br /><span class="eg">e.g.
      gren<strong>ouille</strong>/fen<strong>ouil</strong></span></td>
      <td>-aille/-ail<br /><span class="eg">e.g.
      can<strong>aille</strong>/&eacute;vant<strong>ail</strong></span></td>
      <td>-ille<br /><span class="eg">e.g.
      jonqu<strong>ille</strong></span></td>
      <td>-euille/-euil<br /><span class="eg">e.g. f<strong>euille</strong>/chevr<strong>euil</strong></span></td>
  </tr>
</table>

<p>The <strong>ch</strong> and <strong>j</strong> are a bit different from
English, be careful of that. Indeed, the French <strong>ch</strong> is similar to English <strong>sh</strong>, as
in "shot", and the French <strong>j</strong> is similar to English <strong>s</strong> in the
word "Asia".</p>
<p>Also, the <strong>J</strong> and the <strong>G</strong> have the same
pronounciation when <strong>G</strong> is followed by the letter
<strong>E</strong> or <strong>I</strong>.

<table>
  <tr>
    <td><strong>ch</strong>anson, pana<strong>ch</strong>e</td>
    <td><strong>j</strong>e, <strong>j</strong>ouer, <strong>J</strong>uillet<br />
    <strong>ge</strong>nre, bei<strong>ge</strong>,
    al<strong>g&egrave;</strong>bre<br /><strong>gi</strong>rafe,
    a<strong>gi</strong>le</td>
  </tr>
</table>

<p>When the letter <strong>G</strong> is followed by another letter, the sound
is the same as the English <strong>g</strong>:</p>

<table>
  <tr>
    <td><strong>ga</strong>re, ba<strong>gue</strong>, <strong>g</strong>roupe,
    <strong>go</strong>rille</td>
  </tr>
</table>

<h4>Silent letters</h4>

<p>Unlike in English, the letter <strong>H</strong> in the beginning of a word is silent.</p>

<table>
  <tr>
    <td><strong>h</strong>&ocirc;pital, <strong>h</strong>ibou,
    <strong>h</strong>&eacute;ros</strong>, <strong>h</strong>abiter</td>
  </tr>
</table>

<p>Sometimes you mustn't pronounce all the letters at the end of a word or
inside a word:</p>

<table>
  <tr>
    <td>restauran<strong>t</strong>, Pari<strong>s</strong>,
    desser<strong>t</strong>, canar<strong>d</strong>, dou<strong>x</strong></td>
    <td>lon<strong>g</strong>tem<strong>ps</strong></td>
  </tr>
</table>

<p>But sometimes you have to pronounce the final letter:</p>

<table>
  <tr>
    <td>la<strong>c</strong>, cheni<strong>l</strong>, me<strong>r</strong>
  </tr>
</table>

<p>Native French speakers can sometimes drop the letter <strong>E</strong> inside a word:</p>

<table>
  <tr>
    <td>p'tit (petit), sam(e)di (samedi)</td>
  </tr>
</table>

<p>For more explanations about rules of French pronounciation, <a
href="http://dardel.info/French_pronunciation.html">have a look on
this page.</a></p>

{% endblock %}
